@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

body{
    background: #ffffff;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #ff9d87;
    padding: 20px 0;
}

.wrapper .sidebar h2{
    color:#ffffff;
    text-align: center;
}

.wrapper .sidebar ul li{
    padding: 10px;
}

.wrapper .sidebar ul li a{
    color: #ffdada;
    display: block;
}

.wrapper .sidebar ul li:hover{
    background: #ffa591;
}

.wrapper .sidebar ul li:hover a{
    color: #fff;
}

.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
    max-width: 730px;
    margin-left: 500px;
}

.wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #000000;
    border-color: 1px solid #000000;
    text-align: center;
    font-size: 300%;
    font-weight: bolder;
}

.wrapper .main_content .info{
    margin: 20px;
    line-height: 25px;
    font-size: 150%;
    text-align: center;
}

.wrapper .main_content .info div{
    margin-bottom: 20px;
}

.wrapper .main_content .news{
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.wrapper .main_content .news .shiina{
    word-wrap: break-word;
    width: 200px;
}