@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeOut {
    30%{
        color: rgb(0, 0, 0);
    }
    50%{
        color: rgba(255, 255, 255, 0);
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
        color: rgba(255, 255, 255, 0);
    }
}

@keyframes fadeOut-darkmode {
    30%{
        color: rgb(255, 255, 255);
    }
    50%{
        color: rgba(255, 255, 255, 0);
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
        color: rgba(255, 255, 255, 0);
    }
}

@keyframes fadeInFromTop {
    from {
        opacity: 0;
        transform:translateY(-10px);
    }
    to {
        opacity: 1;
        transform:translateY(0);
    }
}

@keyframes fadeOutFromTop {
    0% {
        opacity: 1;
        transform:translateY(0);
        height: 100%;
    }
    80%{
        height: 0;
    }
    100% {
        opacity: 0;
        transform:translateY(-5px)}
}

@keyframes fadeOutFromBottom {
    from {
        opacity: 1;
        transform:translateY(0);
    }
    to {
        opacity: 0;
        transform:translateY(10px);
    }
}

body{
    position: initial;
    height: 100vh;
    top: auto;
}

:root{
    --color: #fff;
    --backgroundColor: #fff;
    --textColor: #fff;
    --dTextColor: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 105%;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    transition: 150ms;
}

*.darkmode{
    background-color: #20262b;
    transition: 150ms;
    color: #fff;
}

.color{
    color: var(--color);
}

#proj ul li a:hover.darkmode{
    color: rgb(201, 184, 184);
}

.loader.darkmode{
    background-color: #20262b;
    color: #fff;
}

.loader.darkmode.hidden {
    animation: fadeOut-darkmode 1000ms;
    animation-fill-mode: forwards
}

.g1{
    margin-left: 7%;
    margin-top: 7%;
}

#greeting{
    font-weight: bold;
}

#weebified{
    font-size: 170%;
    font-weight: bold;
}

#proj{
    font-size: 140%;
    margin-top: 10%;
}

#proj ul{
    list-style-type: none;
    margin-top: 5%;
}

#proj ul li{
    text-decoration: none;
    font-size: 70%;
    color: #000;
    user-select: none;
}

#proj ul li a:hover{
    color: rgb(151, 114, 114);
    cursor: pointer;
    transition: 150ms;
}

.collums{
    display: block;
}

.g2{
    margin-top: 7%;
    margin-left: 7%;
    width: 85%;
    margin-bottom: 100px;
}

#about-me, #about-me2{
    display: none;
}

.tittles{
    font-size: 150%;
    font-weight: bold;
    color: var(--color);
}

.sub-tittles{
    font-size: 150%;
    font-weight: bold;
    color: var(--color);
}

.descs{
    font-size: 90%;
}

.hide{
    display: none;
}

.show{
    display: block;
    animation: 500ms ease-in-out 0s 1 fadeIn;
}

.command-list{
    font-weight: bold;
    font-size: 120%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.subdescs{
    font-size: 80%;
    margin-top: 2%;
}

.commands{
    font-size: 80%;
    font-weight: bold;
}

.command-name{
    font-size: 120%;
    margin-bottom: 1%;
    margin-top: 10%;
}

#Shiina_inv, #Kuro_inv, #uwu_inv{
    margin-top: 10%;
    font-weight: bold;
    cursor: pointer;
}

.loader{
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    font-family: 'Roboto Mono', monospace;
    z-index: 99;
    color: #000;
}

.loader.hidden {
    animation: fadeOut 1000ms;
    animation-fill-mode: forwards
}

.show-img{
    display: none;
}

.page-img{
    display: none;
}

#setting{
    margin-top: 20px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(95, 95, 95, 0.15);
  }

::-webkit-scrollbar-thumb {
  background: rgb(107, 84, 84);
}

.additional-info{
    color: var(--color);
    cursor: pointer;
    user-select: none;
    width: 220px;
    display: flex;
}

.plus{
    color: var(--color);
    font-size: 130%;
    margin-top: -5.5px;
    background-color: rgba(255, 255, 255, 0);
    transform-origin: 8px;
    transition: 300ms;
}

img{
    background: var(--backgroundColor);
}

img.darkmode{
    background-color: var(--backgroundColor);
}

.show-info{
    opacity: 1;
    height: 1;
    animation: 500ms ease-in-out 0s 1 fadeInFromTop;
}

.hide-info{
    opacity: 0;
    height: 0;
    animation: 100ms ease-in-out 0s 1 fadeOutFromTop;
}

.link{
    color: var(--textColor);
    position: relative;
}

.link.darkmode{
    color: var(--backgroundColor);
}

.link::after{
    content: "";
    background-color: var(--textColor);
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

.link.darkmode::after{
    background-color: var(--backgroundColor);
}

.link:hover::after{
    width: 100%;
}

.ui-background{
    position: fixed;
    background-color: rgb(0, 0, 0, 0.05);
    width: 100%;
    height: 110%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    z-index: 99;
    color: #000;
}

.ui.darkmode{
    background-color: #20262b ;
}

.ui-background.darkmode{
    background-color: rgb(0, 0, 0, 0.2);
    height: 110%;
}

.ui{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    margin: 10%;
    animation: fadeInFromTop 200ms ease-in-out;
}

.ui-header{
    display: flex;
    position: relative;
}

.ui-header div{
    position: absolute;
    right: -10px;
    top: -17px;
    transform: rotate(45deg);
    user-select: none;
    cursor: pointer;
    padding: 2px;
}

#twitter{
    color: #1DA1F2;
    position: relative;
}

#youtube{
    color: #FF0000;
    position: relative;
}

#twitter::after,
#youtube::after{
    position: absolute;
    content: ' ';
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

#twitter::after{
    background-color: #1DA1F2;
}

#youtube::after{
    background-color: #FF0000;
}

#twitter:hover::after,
#youtube:hover::after{
    width: 100%;
}

@media only screen and (min-width: 768px) {
    #weebified{
        font-size: 300%;
    }

    #proj{
        font-size: 200%;
    }
    
    #proj ul li{
        text-decoration: none;
        font-size: 50%;
    }

    .collums{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .g1{
        margin-left: 100px;
        margin-top: 100px;
    }

    .g2{
        margin-top: 125px;
        width: 80%;
    }

    .tittles{
        font-size: 300%;
    }

    #about-me2{
        display: block;
        width: 80%;
    }

    #about-me{
        display: block;
        margin-top: 2px;
        font-size: 300%;
        font-weight: bold;
    }

    .descs{
        font-size: 100%;
    }

    .command-name{
        font-size: 140%;
        margin-top: 3%;
        margin-bottom: 0;
    }

    .command-list{
        font-size: 170%;
    }

    .subdescs{
        font-size: 100%;
    }

    .show-img{
        display: block;
    }

    #shiina-img, #kuro-img{
        margin-top: 275px;
    }

    .loader{
        font-size: 170%;
    }

    .page-img{
        display: block;
        margin-bottom: 1%;
    }

    .sub-tittles{
        font-size: 170%;
        font-weight: bold;
    }
}